.all-chats{    
	height: 50vh;
    width: 100%;
    background: red;
	float:left;
}

.user-in-chat{
	height: 50vh;
    width: 100%;
    background: blue;
	float:left;
}

.chat-window{
	height: 100vh;
    width: 100%;
    background: black;
	float:left;
}

.all-user-chats{
	height: 100vh;
    width: 100%;
    background: green;
	float:left;
}

.col-1, .col-2, .col-3{
	float:left;
}
.col-1{
	width:15%;
}

.col-2{
	width:70%;
}

.col-3{
	width:15%;
}

.message-output{
	height: 90vh;
}

.message-input input{
	width:90%;
	height: 10vh;
	float:left
}

.message-input .submit-btn{
	width:10%;
	height: 10vh;
	float:left;
	background:white;
	text-align:center;
	line-height: 10vh;
	cursor:pointer;
}
