.all-chats{    
	height: 50vh;
    width: 100%;
	float:left;
	box-shadow: inset 0 0 20px black;
}

.user-in-chat{
	height: 50vh;
    width: 100%;
	float:left;
	box-shadow: inset 0 0 20px black;
}

.chat-window{
	height: 100vh;
    width: 100%;
	float:left;
	box-shadow: inset 0 0 20px black;
}

.col-1, .col-2{
	float:left;
}
.col-1{
	width:15%;
}

.col-2{
	width:85%;
}

.message-output{
	height: 90vh;
}

.message-input{
	display: inline-block;
	width: 90%;
}

.message-input input{
	width:90%;
	height: 10vh;
	float:left;
}

.message-input .submit-btn{
	width:10%;
	height: 10vh;
	float:left;
	background:white;
	text-align:center;
	line-height: 10vh;
	cursor:pointer;
}

.all-chats p{
	cursor: pointer;
}

.active{
	font-weight:bold;
}

.chat-window .wrapper{
	text-align: center;
}
